ul {
    padding: 0;
}
li {
    display: inline-flex;    

    a {
        display: inline-flex;
        justify-content: center;
        align-items: center; 
        color: #3276B1;
        width: 30px;
        height: 30px;
        border: 1px solid #D6D6D6;
        border-radius: 2px;
        cursor: pointer;
        text-decoration: none;           
        

        &:hover {
            background-color: #3276B1;
            color: #fff;
        }
    }        
}
:global {
    .page {
        display: inline-flex;
        justify-content: center;
        align-items: center; 
        width: 60px;            
        height: 30px;
        color: #3276B1;
        border: 1px solid #D6D6D6;
        border-radius: 2px;
    }
    .pag__text {
        color: #8A8A8A;
        font-size: 14px;
        padding: 0 10px;
    }
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .selected {
        a {                
            color: #3276B1;
        }
    }
    .select {
        width: 45px;            
        height: 30px;
        color: #3276B1;
        border: 1px solid #D6D6D6;
        border-radius: 2px;
    }
    a.disabled {
        pointer-events: none;
        cursor: default;
        color: #999;
    }
}